.side-bar {
    background-color: var(--primary-light);
    height: 100%;
    transition: width 0.3s ease;
    width: 220px;
    position: fixed;
}
.side-bar-logo {
    align-items: center;
    height: 60px;
    position: relative;
    white-space: nowrap;
    width: 100%;
}
.side-bar-logo img {
    height: 40px;
    margin-left: 23px;
    width: 40px;
}
.side-bar-company-name {
    color: var(--secondary-light);
    font-size: 20px;
    font-weight: 600;
    margin-left: 12px;
}
.side-bar-btn-close {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    color: var(--secondary-light);
    display: none;
    height: 40px;
    line-height: normal;
    position: absolute;
    right: 23px;
    top: 12px;
    width: 40px;
}
.side-bar-btn-close i{
    font-size: 26px;
}
/*NAV ITEMS*/
.side-bar-items {
    margin-top: 20px;
}
.side-bar-item {
    margin-top: 15px;
    width: 100%;
}
.side-bar-item:nth-child(1) {
    margin-top: 0px;
}
.side-bar-item a {
    padding: 0px 23px 0px 23px;
}
.side-bar-item a:hover i{
    margin-left: 8px;
}
.side-bar-active .side-bar-option {
    background-color: var(--secondary-light);
    color: var(--tertiary-text-light);
}
.side-bar-option {
    border-radius: 5px;
    color: var(--secondary-text-light);
    font-size: 18px;
    line-height: normal;
    padding: 9px 8.5px;
    width: 100%;
}
.side-bar-option i {
    font-size: 22px;
    transition: margin-left 0.3s ease;
}
.side-bar-item-name {
    margin-left: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}
.side-bar-component {
    display: block;
    height: 100vh;
    width: 210px;
    transition: width 0.3s ease
}
@media screen and (max-width : 900px){
    .side-bar-component,.side-bar {
        width: 86px;
    }
    .side-bar-nav-item {
        display: none;
    }
    .side-bar-item a:hover i{
        margin-left: 3px;
    }
}
@media screen and (max-width : 600px){
    .side-bar {
        min-height: 100vh;
    }
    .side-bar-btn-close {
        display: block;
    }
    .side-bar-item a:hover i{
        margin-left: 8px;
    }
    .side-bar-nav-item {
        display: block;
    }
    .side-bar-component {
        display: none;
        left: -100vw;
        position: fixed;
        transition: display 0.5s ease allow-discrete,left 0.5s ease;
        z-index: 3;
    }
    .side-bar-component-open {
        display: block;
        left: 0;
        position: fixed;
        touch-action: none;
        transition: left 0.5s ease;
        width: 100vw;
        @starting-style {
            left: -100vw;
        }
    }
    .side-bar-menu-open {
        min-height: 100vh;
        width: 100%;
    }
    .side-bar {
        width: 100%;
    }
}