<nav class="side-bar" [ngClass]="{'side-bar-menu-open':isMenuResponsiveOpen}" [cdkTrapFocus] = "isMenuResponsiveOpen" [cdkTrapFocusAutoCapture] = "isMenuResponsiveOpen">
        <div class="flex side-bar-logo">
            <img src="https://cdn-icons-png.flaticon.com/512/3799/3799797.png" alt="HealthPlus logo">
            <p class="side-bar-company-name side-bar-nav-item">Health Plus</p>
            <button class="side-bar-btn-close" (click)="onClickCloseMenu()"><i class='bx bx-x'></i></button>
        </div>
        <ul class="side-bar-items">
            <li class="side-bar-item">
                <a class="flex" [routerLink]="['/overview']" routerLinkActive="side-bar-active" (click)="this.onClickCloseMenu()">
                    <div class="side-bar-option flex">
                        <i class='bx bxs-dashboard'></i>
                        <p class="side-bar-item-name side-bar-nav-item">Overview</p>
                    </div>
                </a>
            </li>
            <li class="side-bar-item">
                <a href="" class="flex" [routerLink]="['/patients']" routerLinkActive="side-bar-active" (click)="this.onClickCloseMenu()">
                    <div class="side-bar-option flex">
                        <i class='bx bx-handicap'></i>
                        <p class="side-bar-item-name side-bar-nav-item">Patients</p>
                    </div>
                </a>  
            </li>
            <li class="side-bar-item">
                <a href="" class="flex">
                    <div class="side-bar-option flex">
                        <i class='bx bx-heart'></i>
                        <p class="side-bar-item-name side-bar-nav-item">Predict</p>
                    </div>
                </a>  
            </li>
        </ul>
</nav>