.header-card-component {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}
.card-component-title {
    display: block;
    font-size: 18px;
    font-weight: 600;
}
.card-component-subtitle {
    color: var(--secondary-text-light);
    font-size: 14px;
    font-weight: 500;
    margin: 6px 0px;
}
a {
    color: var(--secondary-light);
    font-size: 14px;
}
@media screen and (max-width : 600px) {
    .card-component-title {
        font-size: 14px;
    }
}