/*HEADER*/
.steps-wrapper {
    border: solid 2px rebeccapurple;
}
.steps {
    border: solid 1px brown;
    justify-content: space-between;
    margin: auto;
    width: 100%;
}
.step {
    align-items: center;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; */
    /* min-width: 150px; */
    flex-direction: column;
    flex: 1;
    position: relative;
}
.circle {
    background-color: transparent;
    border-radius: 50%; /* Para hacerlo circular */
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
    z-index: 1;
}
.step-name {
    color: var(--primary-text-light);
    font-size: 14px;
    font-weight: 600;
    margin-top: 5px;
}
.step + .step::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 15px;
    background-color: var(--grey);
    /* width: calc(100% - 35px);
    height: 2px;
    transform: translateX(calc(-50% - 2px)); */
    height: 3px;
    width: calc(100% - 35px);
    transform: translateX(-50%);
}
.step.successful + .step::after {
    background-color: green; /* Cambia a verde si el paso tiene la clase successful */
}
.circle:focus-visible {
    border: solid 2px transparent;
}
.successful .circle:not(:focus-visible) {
    border: solid 2px green;
}
.successful i {
    color: green;
}
.current .circle:not(:focus-visible){
    border: solid 2px var(--secondary-light);
}
.current i {
    color: var(--secondary-light);
}
.pending .circle:not(:focus-visible){
    border: solid 2px var(--grey);
}
/*CONTENT*/
.content {
    border: solid 1px rebeccapurple;
    margin-top: 20px;
    width: 100%;
}
/*FOOTER*/
.footer {
    border: solid 2px green;
    justify-content: space-between;
    margin-top: 10px;
}