.top {
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.left {
    column-gap: 10px;
}
/*SEARCH INPUT*/
.search-input {
    border-radius: 5px 0px 0px 5px;
    width: 100%;
}
.search-button {
    border-radius: 0px 5px 5px 0px;
}
/*TABLE*/
.card-table {
    margin-top: 20px;
}
.select {
    width: 120px;
}
.table-wrapper {
    /* height: 665px; */
    /* overflow: hidden; */

    min-height: 652px;
    overflow-x: auto;
    overflow-y: hidden;
    /* height: calc(100vh - 126px); */
    /* position: relative; */
}
.age {
    min-width: 60px;
}
.action {
    min-width: 30px;
}
.paginator {
    margin-top: 20px;
    width: 100%;
}
/* button:last-child {
    margin-left: 10px;
} */
@media screen and (max-width : 600px) {
    /* button {
        flex: 1;
        min-width: 130px;
        width: 50%;
    } */
    .top {
        row-gap: 10px;
    }
    .left {
        column-gap: 5px;
    }
    .right {
        width: 100%;
    }
    .add-button {
        width: 100%;
    }
}