<div class="flex top">
    <div class="flex left">
        <button class="secondary-button button-icon" #overlayButton (click)="openFilter()">
            <i class='bx bx-filter-alt'></i>Filter
        </button>
        <form class="flex search-form">
            <input class="primary-input search-input" placeholder="Search" type="search" aria-label="search by patient name"
            name="search" [(ngModel)]="this.inputSearch">
            <button class="primary-button search-button" aria-label="search" (click)="onClickSearch()"><i class='bx bx-search-alt-2'></i></button>
        </form>
    </div>

    <div class="right">
        <button class="primary-button button-icon add-button" (click)="onClickGoToAddPatient()"><i class='bx bx-plus'></i>Add patient</button>
    </div>
</div>
<app-card class="card-table">
    <app-card-header>
        <h2 class="card-component-title">List patients</h2>
        <app-dropdown class="select" placeholder="Order by" [value]="this.orderBy" (valueChange)="this.changeOrderBy($event)">
            <app-dropdown-option value="default">Default</app-dropdown-option>
            <app-dropdown-option value="age asc">Younger to older</app-dropdown-option>
            <app-dropdown-option value="age dsc">Older to younger</app-dropdown-option>
            <app-dropdown-option value="created asc">Created asc</app-dropdown-option>
            <app-dropdown-option value="created dsc">Created dsc</app-dropdown-option>
        </app-dropdown>
    </app-card-header>
    <div class="table-wrapper">
        <table class="table">
            <thead>
                <tr class="table-header">
                    <th>Patient Name</th>
                    <th>Gender</th>
                    <th class="age">Age</th>
                    <th>Phone</th>
                    <th>Date</th>
                    <th class="action"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15];index as i" [ngClass]="i%2 == 0?'row-table-color-1':'row-table-color-2'">
                    <td>Alfreds Futterkiste</td>
                    <td>Male</td>
                    <td class="age">18</td>
                    <td>939192382</td>
                    <td>31/12/2024</td>
                    <td class="action">
                        <app-dropdown placeholder="placeholder" type="dot" [value]="this.redirection" (valueChange)="this.redirections($event, i)">
                            <app-dropdown-option type="dot" value="details">Details</app-dropdown-option>
                            <app-dropdown-option type="dot" value="delete">Delete</app-dropdown-option>
                        </app-dropdown>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
</app-card>

<div class="paginator">
    <app-paginator [totalPages]="7" [(pageCurrent)]="this.page" (pageCurrentChange)="changePage($event)"></app-paginator>
</div>