<label class="flex">
    <div class="checkbox-wrapper">
        <input type="checkbox" class="checkbox"
        (click)="onClick()" 
        (change)="onCheckboxChange()"
        [attr.aria-checked]="this.value"
        [ngClass]="{'colorful':this.colorCode,'checked':this.value}" 
        [ngStyle]="getCheckboxStyles()">
            <i class='bx bx-check' 
            [ngClass]="{'icon-checked':this.value,'black-check':this.colorCode == '#FFFFFF','white-check':this.colorCode != '#FFFFFF'}">
            </i> 
    </div>
    <span class="text-checkbox"><ng-content></ng-content></span>
</label>

