:host {
    color: var(--primary-text-light);
    font-size: 16px;
}
.buttons {
    column-gap: 20px;
    justify-content: end;
    margin-top: 20px;
}
@media screen and (max-width: 600px) {
    :host {
        width: 200px;
    }
}
.dialog-panel {
    padding: 5px;
}