<span tabindex="-6" cdkFocusInitial></span>
<div class="flex header-wrapper">
    <!-- <p>{{ monthDateCurrent | date: 'MMMM, y' }}</p> -->
    <div class="flex month-year">
        <app-dropdown [value]="this.indexMonth" (valueChange)="this.monthChange($event)">
            <app-dropdown-option *ngFor="let month of months; index as i" [value]="i">{{month}}</app-dropdown-option>
        </app-dropdown>
        <app-dropdown [value]="this.indexYear" (valueChange)="this.yearChange($event)">
            <app-dropdown-option *ngFor="let year of years" [value]="year">{{year}}</app-dropdown-option>
        </app-dropdown>
    </div>
    <div class="buttons-calendar">
        <button class="primary-button" (click)="onClickchangeMonth('prev')"
        [disabled]="this.indexMonth == 0 && this.indexYear == this.minYear" aria-label="previous month">
            <i class='bx bx-left-arrow-alt'></i>
        </button>
        <button class="primary-button" (click)="onClickchangeMonth('next')" 
        [disabled]="this.indexMonth == 11 && this.indexYear == this.maxYear" aria-label="next month">
            <i class='bx bx-right-arrow-alt'></i>
        </button>
    </div>
</div>

<div class="calendar">
    <div class="header">
        <div class="day">Sun</div>
        <div class="day">Mon</div>
        <div class="day">Tue</div>
        <div class="day">Wed</div>
        <div class="day">Thu</div>
        <div class="day">Fri</div>
        <div class="day">Sat</div>
    </div>
    <div class="grid">
        <button *ngFor="let day of days; let i = index" class="day" #dayButton
            [ngClass]="{'disabled': day.disabled, 'active': isActive(day), 'today': isToday(day)}" 
            [disabled]="day.disabled" 
            [attr.tabindex]="isActive(day) || isToday(day) ||this.indexFocus == i ? 0 : -1" 
            (click)="this.selectDay(day.date)"
            (keydown)="handleKeyDown($event, i,day.date)">
              <span>
                {{ day.date.getDate() }}
              </span>
        </button>
    </div>
</div>