<ul class="flex">
        <li ><button  class="secondary-button" [disabled]="this.pageCurrent==1" aria-label="previous page"
            (click)="this.changePage(this.pageCurrent-1)"><i class='bx bx-left-arrow-alt'></i></button></li>

        <li  *ngFor="let item of pages" >
            <button #pageButton class="flex" [ngClass]="item.value=='...'?'dots':item.value==this.pageCurrent.toString()?'primary-button':'secondary-button'"
            [disabled]="item.value=='...'" (click)="this.changePage(item.value, true)" [tabIndex]="item.value=='...'?-1:0"
            [attr.aria-label]="item.value == '...' ? 'pages not shown' : 'go to page ' + item.value">
                <span>{{item.value}}</span>
            </button>
        </li>
        
        <li ><button class="secondary-button" [disabled]="this.pageCurrent==totalPages" aria-label="next page"
            (click)="this.changePage(this.pageCurrent+1)"><i class='bx bx-right-arrow-alt'></i></button></li>
</ul>