ul{
    list-style: none; 
    column-gap: 5px;
}
.dots {
    background-color: transparent;
    border: none;
    color: var(--grey);
    pointer-events: none;
    height: 28px;
    width: 28px;
}
.primary-button,.secondary-button {
    width: 28px;
    height: 28px;
    padding: 0px;
}
.secondary-button i {
    font-size: 18px;
}
@media screen and (max-width : 600px) {
    ul{
        column-gap: 2px;
    }
}