
    <ul class="flex steps">
        <li class="step successful">
            <div class="circle"><i class='bx bx-check'></i></div>
            <p class="step-name">Basic Information</p>
        </li>
        <li class="step current">
            <div class="circle"><i class='bx bx-current-location'></i></div>
            <p class="step-name">Contact Information</p>
        </li>
        <li class="step pending">
            <div class="circle"></div>
            <p class="step-name">Medical Information</p>
        </li>
    </ul>

