<!-- <ul class="flex steps">
    <li class="flex step successful">
        <button class="circle"><i class='bx bx-check'></i></button>
        <p class="step-name">Basic Information</p>
    </li>
    <li class="flex step current">
        <button class="circle"><i class='bx bx-current-location'></i></button>
        <p class="step-name">Contact Information</p>
    </li>
    <li class="flex step pending">
        <button class="circle"></button>
        <p class="step-name">Medical Information</p>
    </li>
</ul>
<section class="content">
    <app-card class="basic-info">
        <div class="flex row">
            <div class="flex input-container">
                <label for="names" class="label-section">Names</label>
                <input type="text" id="names" class="primary-input" placeholder="Sergio">
            </div>
            <div class="flex input-container">
                <label for="lastNames" class="label-section">Last Names</label>
                <input type="text" id="lastNames" class="primary-input" placeholder="Guanilo">
            </div>
        </div>

        <div class="flex row">
            <div class="flex input-container">
                <label for="dateOfBirth" class="label-section">Date of Birth</label>
                <app-date-picker class="datepicker"></app-date-picker>
            </div>
            <div class="flex input-container">
                <label for="age" class="label-section">Age</label>
                <input type="number" id="age" class="primary-input" placeholder="18" maxlength="10">
            </div>
        </div>

        <div class="flex input-container">
            <label for="gender-male" class="label-section">Gender</label>
            <fieldset class="flex row"> 
                <div class="flex radio-field">
                    <input type="radio" value="1" name="gender" id="gender-male">
                    <label class="label-radio">Man</label>
                </div>
                <div class="flex radio-field">
                    <input type="radio" value="2" name="gender">
                    <label class="label-radio">Woman</label>
                </div>
            </fieldset>
        </div>

        <div class="flex input-container">
            <label for="pacient notes" class="label-section">Notes</label>
            <textarea id="pacient notes" class="notes"></textarea>
        </div>

        <footer class="footer">
            <button class="primary-button">Next</button>
        </footer>
    </app-card>
</section> -->

<!-- <app-stepper (stepperCompleted)="this.aux()">
    <app-step [title]="'asdad'" ><input type="text"></app-step>
    <app-step [title]="'asdad2'" >2ddddddd</app-step>
</app-stepper> -->
<app-stepper (stepperCompleted)="this.aux()">
    <app-step [title]="'Basic Information'" [completed]="this.firstStep.valid"> <!--[completed]="this.firstStep.valid"> -->
        <app-card>
            <form [formGroup]="firstStep" class="basic-info" (keydown.enter)="$event.preventDefault()">
                <div class="flex row">
                    <div class="flex input-container">
                        <label for="names" class="label-section">Names</label>
                        <input type="text" id="names" class="primary-input" placeholder="Ex. Joe" formControlName="names">
                        <p *ngIf="isFieldInvalid(this.firstStep,'names')" class="warning">Required field</p>
                    </div>
                    <div class="flex input-container">
                        <label for="lastNames" class="label-section">Last names</label>
                        <input type="text" id="lastNames" class="primary-input" placeholder="Ex. Smith" formControlName="lastNames">
                        <p *ngIf="isFieldInvalid(this.firstStep,'lastNames')" class="warning">Required field</p>
                    </div>
                </div>
        
                <div class="flex row">
                    <div class="flex input-container">
                        <label class="label-section">Date of birth</label>
                        <app-date-picker class="datepicker" formControlName="dateOfBirth" 
                            [minYear]="1900"></app-date-picker>
                        <p *ngIf="isFieldInvalid(this.firstStep,'dateOfBirth')" class="warning">Required field</p>
                    </div>
                    <div class="flex input-container">
                        <label for="age" class="label-section">Age</label>
                        <input type="number" id="age" class="primary-input" placeholder="Ex. 18" maxlength="3" formControlName="age">
                        <p *ngIf="isFieldInvalid(this.firstStep,'age')" class="warning">Required field</p>
                    </div>
                </div>
        
                <div class="flex input-container">
                    <label for="gender-male" class="label-section">Gender</label>
                    <fieldset class="flex row"> 
                        <div class="flex radio-field">
                            <input type="radio" value="1" name="gender" id="gender-female" formControlName="gender">
                            <label class="label-radio" for="gender-female">Female</label>
                        </div>
                        <div class="flex radio-field">
                            <input type="radio" value="2" name="gender" formControlName="gender" id="gender-male">
                            <label class="label-radio" for="gender-male">Male</label>
                        </div>
                    </fieldset>
                </div>

                <div class="flex input-container">
                    <label for="dni" class="label-section">DNI</label>
                    <input type="text" id="dni" class="primary-input" placeholder="Max. 8 digits" formControlName="dni">
                    <p *ngIf="isFieldInvalid(this.firstStep,'dni')" class="warning">Required field</p>
                </div>
        
                <div class="flex input-container">
                    <label for="pacient notes" class="label-section">Notes<span> (optional)</span></label>
                    <textarea id="pacient notes" class="notes" formControlName="notes"></textarea>
                </div>
            </form>
        </app-card>
    </app-step>

    <app-step [title]="'Contact Information'" [completed]="this.secondStep.valid">
        <app-card>
            <form [formGroup]="this.secondStep" class="basic-info">
                <div class="flex input-container">
                    <label for="phone" class="label-section">Phone</label>
                    <input type="text" id="phone" class="primary-input" placeholder="Ex. 999999999" maxlength="9" formControlName="phone">
                    <p *ngIf="isFieldInvalid(this.secondStep,'phone')" class="warning">Required field</p>
                </div>
    
                <div class="flex input-container">
                    <label for="email" class="label-section">Email</label>
                    <input type="email" id="email" class="primary-input" placeholder="ex@example.com" formControlName="email">
                    <p *ngIf="isFieldInvalid(this.secondStep,'email')" class="warning">Required field</p>
                </div>
    
                <div class="flex input-container">
                    <label for="adress1" class="label-section">Adress 1</label>
                    <input type="text" id="adress1" class="primary-input" placeholder="Ex. Calle 234" formControlName="adress1">
                    <p *ngIf="isFieldInvalid(this.secondStep,'adress1')" class="warning">Required field</p>
                </div>

                <div class="flex input-container">
                    <label for="adress2" class="label-section">Adress 2<span> (optional)</span></label>
                    <input type="text" id="adress2" class="primary-input" placeholder="Calle 234" formControlName="adress2">
                    <p *ngIf="isFieldInvalid(this.secondStep,'adress2')" class="warning">Required field</p>
                </div>
            </form>
        </app-card>
    </app-step>

    <app-step [title]="'Allergies'" [completed]="this.allergiesForm.valid">
        <app-card>
            <form [formGroup]="this.allergiesForm">
                <div formGroupName="allergies" class="basic-info">
                    <app-checkbox formControlName = "penicillin">Penicillin</app-checkbox>
                    <app-checkbox formControlName = "aspirin">Aspirin</app-checkbox>
                    <app-checkbox formControlName = "sulfonamides">Sulfonamides</app-checkbox>
                    <app-checkbox formControlName = "cephalosporins">Cephalosporins</app-checkbox>
                    <app-checkbox formControlName = "nsaids">Nonsteroidal Anti-Inflammatory Drugs (NSAIDs)</app-checkbox>
                    <app-checkbox formControlName = "opioids">Opioids (e.g., Morphine, Codeine)</app-checkbox>
                    <app-checkbox formControlName = "tetracyclines">Tetracyclines</app-checkbox>
                    <app-checkbox formControlName = "other" (changeEvent)="this.onOtherCheckboxChange()">Other</app-checkbox> 
                </div>
   
                <!-- Mostrar inputs adicionales cuando "Other" esté activo -->
                <div *ngIf="this.showOtherInput" formArrayName="additionalAllergies" class="basic-info additional-allergies" role="list">
                    <div *ngFor="let control of additionalAllergies.controls; let i = index" class="flex wrapper-input-array" role="listitem">
                        <div class="input-array">
                            <input class="primary-input"
                            [formControlName]="i"
                            placeholder="Specify allergy"
                            [attr.aria-label]="'input new allergy' + (i+1)"
                            [class.invalid]="control.invalid && control.touched" />
                            
                            <!-- <button class="secondary-button delete" (click)="removeAdditionalAllergy(i)">
                                <i class='bx bx-minus'></i>
                            </button> -->
                            <button class="delete button-only-icon icon-warning" (click)="removeAdditionalAllergy(i)"
                            [attr.aria-label]="'delete allergie at position' + (i + 1) ">
                                <i class='bx bx-trash'></i>
                            </button>

                            <p *ngIf="control.invalid && control.touched" class="warning">Required field</p>
                        </div>
                    </div>
                    <button class="primary-button add-button" aria-label="add a new allergy input"
                        (click)="addAdditionalAllergy()">
                        <i class='bx bx-plus'></i>
                    </button>
                </div>
            </form>
        </app-card>    
    </app-step>
</app-stepper>