<div cdk-overlay-origin class="flex" (click)="toggle()" 
   [ngClass]="this.type == 'select'? 'dropdown-content-component' : 'dot-content-component'"
   #origin="cdkOverlayOrigin" #trigger>
   <ng-container *ngIf="this.type == 'select'">
      <span class="dropdown-component-placeholder" *ngIf="placeholder && !selectedOptionText">{{placeholder}}</span>
      <span class="dropdown-component-text" *ngIf="selectedOptionText">{{selectedOptionText}}</span>
      <span class="icon-dropdown flex">
        <i class='bx bx-chevron-down'></i>
      </span>
   </ng-container>
   <ng-container *ngIf="this.type == 'dot'">
      <i class='bx bx-dots-vertical-rounded'></i>
   </ng-container>
</div>

<ng-template
  cdkConnectedOverlay
  cdkConnectedOverlayHasBackdrop
  cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
  [cdkConnectedOverlayOrigin]="origin"
  [cdkConnectedOverlayScrollStrategy]="scrollStrategy"
  [cdkConnectedOverlayOpen]="panelOpen"
  [cdkConnectedOverlayPositions]="_positions"
  [cdkConnectedOverlayWidth]="widthOptionsList"
  (backdropClick)="close()"
  (detach)="close()"
  (attach)="onOverlayAttached()">
   <!-- detach se dispara cuando el overlay se cierra, incluyendo cuando se hace scroll -->
  <div class="options-container-dropdown-component shadow" tabindex="0" cdkTrapFocus cdkTrapFocusAutoCapture="true" (keydown) = "_handleKeydown($event)"
      role="listbox"
      id="panelId"
      aria-labelledby="trigger">
      
      <ng-content></ng-content>
  </div>
</ng-template>
