.dropdown-component {
    border: solid 1px transparent;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    width: 100%;
}
.border {
    border: solid 1px var(--grey);
}
/* .dropdown-component:focus, .dropdown-component-open { */
.dropdown-component-open {
    border: solid 1px transparent;
    outline: var(--secondary-light) solid 2px;
}
.dropdown-component:focus-visible {
    border: solid 1px transparent;
    outline: var(--outline-light) solid 2px;
}
.dropdown-content-component {
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    justify-content: space-between;
    padding: 5px 0px 5px 5px;
    width: 100%;
}
.dot-content-component {
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    color: var(--grey);
    font-size: 18px;
    justify-content: center;
    width: 100%;
}
.dropdown-component-placeholder,.dropdown-component-text {
    color: var(--primary-text-light);
    font-size: 14px;
    max-width: calc(100% - 20px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}
.dropdown-component-placeholder {
    color: var(--secondary-text-light);
}
.icon-dropdown {
    align-items: center;
}
.dropdown-content-component .icon-dropdown {
    margin-left: 5px;
}
.dropdown-content-component .icon-dropdown i {
    color: var(--secondary-text-light);
    font-size: 20px;
}

.options-container-dropdown-component {
    background-color: var(--primary-light);
    border-radius: 5px;
    flex-basis: 100%;
    margin-top: 5px;
    max-height: 256px;
    overflow-y: auto;
}
/* Personalización del scrollbar */
.options-container-dropdown-component::-webkit-scrollbar {
    width: 5px; /* Ajusta el ancho del scrollbar */
}
.options-container-dropdown-component::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color del fondo del track */
}

.options-container-dropdown-component::-webkit-scrollbar-thumb {
    background-color: #888; /* Color del scroll */
    border-radius: 8px; /* Opcional: bordes redondeados */
}
.options-container-dropdown-component::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color del scroll al hacer hover */
}
.options-container-dropdown-component:focus-visible {
    outline: solid 2px var(--outline-light);
}