:host {
    color: var(--primary-text-light);
}
.wrapper {
    flex-direction: column;
    gap: 20px;
    max-height: 585px;
    overflow-y: auto;
    padding: 5px;
}
.title {
    font-size: 18px;
    font-weight: 600;
}
.row {
    gap: 20px;
}
.input-container {
    flex-direction: column;
}
.datepicker {
    width: 184.8px;
}
.label-section {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px; /* Espaciado entre el label y el input */
    width: fit-content;
}
.label-radio {
    color: var(--secondary-text-light);
    font-size: 16px;
    margin-left: 5px;
}
fieldset {
    border: none;
    width: 184.8px;
}
.buttons {
    column-gap: 20px;
    justify-content: end;
}

@media screen and (max-width: 600px) {
    .title {
        font-size: 14px;
    }
    .row {
        flex-direction: column;
    }
    input:not([type="radio"]) {
        width: 100%;
    }
    .label-radio {
        font-size: 14px;
    }
}