<header class="header" (keydown)="this.handleKeyDown($event)" role="tablist">
    <div class="flex">
        <div class="box-title" *ngFor="let tab of tabs; let i = index" role="tab" 
            [attr.aria-selected] = "this.focusedIndex == i"
            [attr.aria-controls]="'tabpanel-' + i"
            [id]="'tab-' + i"
            (click)="selectTab(i)" 
            [tabIndex]="this.focusedIndex == i? 0: -1" #box>
            <p>{{tab.title}}</p>
        </div>
    </div>
    <span class="bar" [class.animate]="animate" [ngStyle]="{
        width: indicatorWidth + 'px',
        left: indicatorLeft + 'px'
      }"></span>
</header>

<!-- <section class="tab-content" [ngStyle]="{minWidth: header.offsetWidth + 'px'}"> -->
<section class="tab-content">
    <ng-container *ngFor="let tab of tabs; let i = index">
      <div *ngIf="i === this.selectedIndex" role="tabpanel" [id]="'tabpanel-' + i" [attr.aria-labelledby]="'tab-' + i">
        <ng-container *ngTemplateOutlet="tab.content"></ng-container>
      </div>
    </ng-container>
</section>
