<p class="welcome-message">Welcome, Dr. Sergio</p>
<p class="diary-message">Have a nice day at great work</p>

<section class="metrics">
    <ng-container *ngFor="let metric of cardMetrics">
        <app-card-metric [metric]="metric" ></app-card-metric>
    </ng-container>
</section>

<section class="grid graphics">
    <app-card>
        <app-card-header>
            <h2 class="card-component-title">Earning ratio</h2>
       </app-card-header>
    </app-card>

    <app-card>
        <app-card-header>
            <h2 class="card-component-title">Patients ratio</h2>
       </app-card-header>
    </app-card>
</section>
<section class="flex bottom">
    <app-card class="card-graphic-circle">
        <app-card-header>
            <h2 class="card-component-title">Gender</h2>
            <p class="card-component-subtitle">Patient gender percentage</p>
       </app-card-header>
    </app-card>

    <app-card class="card-appointment">
        <app-card-header>
            <h2 class="card-component-title">Today appointment</h2>
            <a href="">Show all</a>
       </app-card-header>
       <app-appointments-today></app-appointments-today>
    </app-card>

    <app-card class="card-table">
        <app-card-header>
            <h2 class="card-component-title">Recent patients</h2>
            <a href="">Show all</a>
       </app-card-header>
       <div class="table-wrapper">
        <table class="table">
            <thead>
                <tr class="table-header">
                    <th>Patient Name</th>
                    <th>Gender</th>
                    <th>Height</th>
                    <th>Weight</th>
                    <th class="age">Age</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of [1,2,3,4,5,6];index as i" [ngClass]="i%2 == 0?'row-table-color-1':'row-table-color-2'">
                    <td>Alfreds Futterkiste</td>
                    <td>Male</td>
                    <td>172</td>
                    <td>68</td>
                    <td class="age">18</td>
                </tr>
            </tbody>
        </table>
   </div>
    </app-card>
</section>
