<div class="wrapper" cdk-overlay-origin #origin="cdkOverlayOrigin">
    <input type="text" (input)="onInput($event)" (blur)="onBlur($event)" [(ngModel)]="this.cadena"
    class="primary-input" placeholder="dd/mm/yyyy">
    <button class="button-calendar" aria-label="open calendar" (click)="onClickOpenCalendar()">
      <i class='bx bx-calendar'></i>
    </button>
</div>

<ng-template
  cdkConnectedOverlay
  cdkConnectedOverlayHasBackdrop
  cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
  [cdkConnectedOverlayOrigin]="origin"
  [cdkConnectedOverlayOpen]="panelOpen"
  [cdkConnectedOverlayPositions]="_positions"
  (backdropClick)="close()"
  (detach)="close()"
>
  <div class="calendar-container shadow">
      <!-- Aquí insertamos el CalendarComponent y vinculamos directamente con [(ngModel)] -->
      <app-calendar cdkTrapFocus cdkTrapFocusAutoCapture="true" 
      [ngModel]="this.value" 
      (ngModelChange)="this.selectedDate($event)"
      [minDate]="minDate" [minYear]="this.minYear"></app-calendar>
  </div>
</ng-template>