<section class="flex wrapper" cdkTrapFocus cdkTrapFocusAutoCapture="true">
    <p class="title">Edit medical information</p>
    <div class="flex row">
        <div class="flex input-container">
            <label for="weight" class="label-section">Weight(kg)</label>
            <input type="number" id="weight" class="primary-input" placeholder="Ex. 80">
            <!-- <p *ngIf="isFieldInvalid(this.firstStep,'names')" class="warning">Required field</p> -->
        </div>

        <div class="flex input-container">
            <label for="height" class="label-section">Height(cm)</label>
            <input type="number" id="height" class="primary-input" placeholder="Ex. 170">
            <!-- <p *ngIf="isFieldInvalid(this.firstStep,'names')" class="warning">Required field</p> -->
        </div>
    </div>

    <div class="flex row">
        <div class="flex input-container">
            <label for="bmi" class="label-section">BMI</label>
            <input type="number" id="bmi" class="primary-input" placeholder="Ex. 20">
            <!-- <p *ngIf="isFieldInvalid(this.firstStep,'names')" class="warning">Required field</p> -->
        </div>

        <div class="flex input-container">
            <label for="cholesterol" class="label-section">Cholesterol</label>
            <input type="number" id="cholesterol" class="primary-input" placeholder="Ex. 20">
            <!-- <p *ngIf="isFieldInvalid(this.firstStep,'names')" class="warning">Required field</p> -->
        </div>
        <!-- <div class="flex input-container">
            <label class="label-section">Blood group</label>
            <app-dropdown placeholder="blood group" type="select" [value]="this.aux" class="dropdown">
                <app-dropdown-option type="select" value="A">A</app-dropdown-option>
                <app-dropdown-option type="select" value="B">B</app-dropdown-option>
                <app-dropdown-option type="select" value="AB">AB</app-dropdown-option>
                <app-dropdown-option type="select" value="0">O</app-dropdown-option>
            </app-dropdown>
        </div> -->
    </div>

    <div class="flex row">
        <div class="flex input-container">
            <label for="blood-pressure" class="label-section">Blood pressure</label>
            <input type="text" id="blood-pressure" class="primary-input" placeholder="Ex. 120/90">
            <!-- <p *ngIf="isFieldInvalid(this.firstStep,'names')" class="warning">Required field</p> -->
        </div>

        <div class="flex input-container">
            <label for="heart-rate" class="label-section">Heart rate</label>
            <input type="number" id="heart-rate" class="primary-input" placeholder="Ex. 70">
            <!-- <p *ngIf="isFieldInvalid(this.firstStep,'names')" class="warning">Required field</p> -->
        </div>
    </div>

    <div class="flex input-container">
        <label for="blood-sugar" class="label-section">Blood sugar</label>
        <input type="number" id="blood-sugar" class="primary-input last" placeholder="Ex. 110">
        <!-- <p *ngIf="isFieldInvalid(this.firstStep,'names')" class="warning">Required field</p> -->
    </div>

    <div class="flex buttons">
        <button class="tertiary-button" (click)="onClickCancel()">Cancel</button>
        <button class="primary-button" (click)="onClickSave()">Save</button>
    </div>
</section>
